*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight:normal;
    background-color: #e5a657;
}

#titulo{
    font-size: 100px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    padding: 2vh;
    color:#f7dd95;
    justify-content: center;
}

h1{
    font-size: 50px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    padding: 2vh;
    color:#f7dd95;
    justify-content: center;
}

body{

    text-align: justify;
    margin: 10vh;
    color: #f7dd95;
    line-height: normal;
    font-size: 16px;
}

img{

    margin: 10px;
    padding: 10px;
    width: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5vw;
    float:inline-start;
}

p{

    text-align: justify;
    font-size: 20px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}

@media (max-width: 480px) {


    body {
        font-size: 10px;
        padding: 10px;
      }

      img{

        width: 20vh;
        padding: 10px;
        margin: 10px;
      }

      #titulo{
        font-size: 30px;
        text-align: center;
      }

      h1{

        font-size: 20px;
        padding: 9px;
        text-align: justify;

      }
      
}

    @media (max-width: 820px) {


    body {
        font-size: 20px;
        padding: 10px;
      }

      img{

        width: 30vh;
        padding: 5px;
        margin: 5px;

      }

      #titulo{
        font-size: 30px;
        padding: 9px;
        text-align: center;
      }

      h1{

        font-size: 30px;
        padding: 9px;
        text-align: center;

      }
      
}

    

    